[Unit]
Description=The MTF homescreen
After=xorg.target
Requires=dbus.socket xorg.target mthemedaemon.service

[Service]
ExecStart=/usr/bin/sysuid -remote-theme


